<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게임 반격 페이지</title>
</head>
<body>
    <div class="container">
        <div class="title">반격할 카드:</div>
        <form method="post">
            {% csrf_token %}
            {% for num in numbers %}
                <label class="card-option">
                    <input type="radio" name="card" value="{{num}}">{{num}}
                </label><br/>
            {% endfor %}

            <button id="attack-button">Counter Attack!!</button>
        </form>
    </div>
</body>
</html>